@{
    string[] estados = ViewBag.Estados;
}

<div>
    <h1> Crie uma nova localização</h1>
    <form method="post" action="/Locations/CreateLocation">
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" maxlength="40" class="form-control" id="Nome" name="Nome" aria-describedby="nomeHelp" required>
        </div>
        <div class="mb-3">
            <label for="Descricao" class="form-label">Descrição</label>
            <input type="text" maxlength="100" class="form-control" id="Descricao" name="Descricao" aria-describedby="descricaoHelp" required>
        </div>
        <div class="mb-3">
            <label for="Localizacao" class="form-label">Endereço/Localização</label>
            <input type="text" maxlength="40" class="form-control" id="Localizacao" name="Localizacao" aria-describedby="localizacaoHelp" required>
        </div>
        <div class="row mb-3">
            <div class="col-9">
                <label for="Cidade" class="form-label">Cidade</label>
                <input type="text" maxlength="30" class="form-control" id="Cidade" name="Cidade" aria-describedby="cidadeHelp" required>
            </div>

            <div class="col-3">
                <label for="Estado" class="form-label">Estado</label>
                <select class="form-control" id="Estado" name="Estado" aria-label="Estados" required>
                    <option selected></option>
                    @foreach(string estado in estados)
                    {
                        <option value="@estado">@estado</option>
                    }
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Criar</button>
        <a href="/Locations/Sort/1" class="btn btn-warning">Voltar</a>

    </form>
</div>
